body {
  background-image: url("../images/backgrounds/symphony.png");
  /* background-size: cover; */
}

#header,
#featured,
#departments {
  width: 940px;
  margin: auto;
}

.nav {
  color: gainsboro;
  border-right: 1px solid darkolivegreen;
  padding-left: 4px;
  padding-right: 4px;
  margin-top: 18px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 12px;
  text-transform: uppercase;
  float: left;
  max-width: 120px;
}

.nav:last-child {
  border-right: 0;
}

#header img {
  float: left;
}

#header {
  height: 55px;
  background-color: black;
}

#featured {
  height: 500px;
  background-color: aqua;
}

#departments {
  height: 533px;
  background-color: deeppink;
}
